.card{
    max-height: 800px;
    width: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
  }
    ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  } 
  

.CardImg{
    width: 100%; 
    height: 200px;
}

.modalImg{
    height: 250px
}